Repository hatlabs/cockpit-authelia-users: changes, and which lefthook commands are due for each by the changed paths.
All: backend-ruff, frontend-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    # Python backend
    backend-ruff:
      root: "backend/"
      glob: "*.py"
      run: |
        if command -v uv >/dev/null 2>&1; then
          uv run ruff check .
        elif command -v ruff >/dev/null 2>&1; then
          ruff check .
        else
          echo "WARNING: ruff not found, skipping"
          exit 0
        fi
      fail_text: "Run 'ruff check .' in backend/ to see issues."

    # TypeScript frontend
    frontend-lint:
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: |
        if [ -d node_modules ]; then
          npm run lint
        else
          echo "WARNING: frontend/node_modules not found, skipping"
          exit 0
        fi
      fail_text: "Run 'npm run lint' in frontend/ to see issues."

refactor(frontend): make UserInput fields optional for partial updates
  frontend/src/lib/types.ts
Due: frontend-lint

test: add comprehensive tests for backend commands and CLI
  backend/tests/test_cli.py
  backend/tests/test_commands/test_create_user.py
  backend/tests/test_commands/test_delete_user.py
  backend/tests/test_commands/test_get_user.py
  backend/tests/test_commands/test_list_groups.py
  backend/tests/test_commands/test_list_users.py
  backend/tests/test_commands/test_update_user.py
  frontend/tests/api.test.ts
Due: backend-ruff, frontend-lint

fix(test): address PR review feedback
  backend/tests/conftest.py
  backend/tests/test_commands/test_update_user.py
Due: backend-ruff

feat: add Debian packaging
  debian/changelog
  debian/control
  debian/copyright
  debian/rules
  debian/source/format
  docker/Dockerfile.debtools
Due: none

fix: support both argon2 21.x and 23.x exception naming
  backend/cockpit_authelia_users/utils/password.py
Due: backend-ruff

fix: address lintian errors in debian packaging
  debian/control
  debian/rules
Due: none

feat(ui): add browser back button navigation support
  frontend/src/authelia-users.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/types.ts
Due: frontend-lint

fix(ui): invert account active toggle logic
  frontend/src/views/UserFormView.tsx
Due: frontend-lint

feat(ui): improve group selection with quick-add chips
  frontend/src/components/GroupInput.tsx
Due: frontend-lint

chore: bump version to 0.2.0
  VERSION
Due: none

chore: bump version to 0.2.0 (#27)
  VERSION
Due: none

chore: add changelog check pre-commit hook
  .github/scripts/check-changelog-edits.sh
  lefthook.yml
Due: none

feat: add bumpversion support for proper version management
  .bumpversion.cfg
  backend/pyproject.toml
  run
Due: none

Bump version: 0.2.0 → 0.2.1
  .bumpversion.cfg
  VERSION
  backend/pyproject.toml
Due: none

fix(ui): gate admin actions in Limited Access and surface backend errors
  frontend/src/components/AdminGatedButton.tsx
  frontend/src/hooks/useAdminPermission.ts
  frontend/src/lib/types.ts
  frontend/src/views/UserFormView.tsx
  frontend/src/views/UserListView.tsx
  frontend/tests/UserFormView.gating.test.tsx
  frontend/tests/UserListView.gating.test.tsx
  frontend/tests/setup.ts
  frontend/tests/useAdminPermission.test.ts
Due: frontend-lint

Bump version: 0.2.3 → 0.2.4
  .bumpversion.cfg
  VERSION
  backend/pyproject.toml
Due: none

refactor(ui): spread props in AdminGatedButton
  frontend/src/components/AdminGatedButton.tsx
Due: frontend-lint
